@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 250 1000;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations');     
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 300;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 500;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 800;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 900;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.woff') format('woff');
}

@font-face {
  font-family: 'Mediator';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://static.tildacdn.com/fonts/mediator/Mediator-Regular.eot');
  src: url('https://static.tildacdn.com/fonts/mediator/Mediator-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/mediator/Mediator-Regular.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/mediator/Mediator-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Mediator';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://static.tildacdn.com/fonts/mediator/Mediator-Medium.eot');
  src: url('https://static.tildacdn.com/fonts/mediator/Mediator-Medium.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/mediator/Mediator-Medium.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/mediator/Mediator-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Mediator';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://static.tildacdn.com/fonts/mediator/Mediator-Semibold.eot');
  src: url('https://static.tildacdn.com/fonts/mediator/Mediator-Semibold.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/mediator/Mediator-Semibold.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/mediator/Mediator-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Mediator';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://static.tildacdn.com/fonts/mediator/Mediator-Bold.eot');
  src: url('https://static.tildacdn.com/fonts/mediator/Mediator-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://static.tildacdn.com/fonts/mediator/Mediator-Bold.woff2') format('woff2'),
       url('https://static.tildacdn.com/fonts/mediator/Mediator-Bold.woff') format('woff');
}



.b-filter{
    background-color: #FAF5F2;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.b-cart{
    display: none;
}

.l-main-container{
    background-color: #FAF5F2;
}

.b-result-item{
    background-color: #FAF5F2;
    border: 1px solid #333333;
    border-radius: 6px;
}

.s-btn--link{
    color: #333333;
}

.price-variants .variant:hover{
    background-color: transparent;
}

.s-btn--primary, .b-result-item__view-more-btn{
    background-color: #333333;
    color: white;
    border-radius: 30px;
}

.s-btn--primary:hover,
.b-result-item__view-more-btn:hover {
    background-color: inherit;
}

.b-result-item__name{
    font-size: 32px;
    font-family: 'Mediator', serif;
}

.b-filter__title{
    font-size: 16px;
    font-family: 'Mediator', serif;
}

.b-filter__field-label{
    font-family: 'TildaSans', sans-serif;
}

.b-mob-bottom-bar .s-btn:hover{
    background-color: #333333;
    color: white;
    border-radius: 0 6px 6px 0;
}

.b-result-item__description{
    font-family: 'TildaSans', sans-serif;
    font-size: 16px;
}